<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Ansprechpartner (Impressum)</h1>
    <p>
        Robert Keßler<br>
        Wurmsweg 1<br>
        20535 Hamburg<br>
        GERMANY <br>
    </p>
    <h2>Allgemeine Hinweise</h2>
    <p>Diese Seite ist ein selbst entwickeltes Spiel. Alle Bilder/Texte und Musik/Sounds sind selbst erstellt,
        unterliegen einer freien Lizenz (CC) oder wurden mit dem Einverständnis des Autors genutzt.
        Die Nutzung dieser Seite bedarf keiner personenbezogener Daten. Wir weisen jedoch darauf hin, das es derzeit
        eine unverschlüsselte Übertragung der Authentifizierungsdaten statt findet. Bitte benutzen Sie demnach keine
        kombination ihrer gängigen Passwörter oder Nutzernamen.<br><br>

        Die Inhalte dieser Seite unterliegen dem deutschen Urheberrecht und dürfen ohne erlaubnis weder vervielfältigt,
        bearbeitet oder verbreitet werden.<br><br>

        Diese Seite enthält weiterhin Links zu Websiten Dritter, auf die wir keinen Einfluss haben. Für diese Inhalte
        sind jeweils die betreiber der Seiten verantwortlich.
    </p>
    <h2>General Hints</h2>
    <p>This site is a self developed game. All Media Content where either created by us, was published under CreativeCommons (CC)
        or are used with the permission of the author. The use of this site don't need personal data. We point out especially
        that the credentials that you can use to log in/register are send over an unencrypted channel.
        Please don't use your usual password/username combinations.<br><br>

        The content of this site is under german copyright and are not allowed to be modified, multiplicated or distributed.<br><br>

        Furthermore this site contains links to third party websites. We have no influence on the content of those and
        point out that the owners of those sites are responsible for the content.
    </p>
    <h4>Credits</h4>
    <p>
        The music was created by from <a href="https://www.youtube.com/channel/UCOtydbadlAjbQZgaey04ACA">Michael J. Burkard</a>. <br>
        Main Theme: Galactic Empire / Epic instrumental music / Science Fiction <br>
    </p>
    {% include "general/tracking_piece.html" %}
</body>
</html>